<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>  
		<add key="basicAuth" value=""/>  
		<add key="cookie" value=""/>
		<add key="pid" value=""/>  
		<add key="wid" value=""/>  
	</appSettings>  
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>